body {
  font-family: sans-serif;
  max-width: 350px;
  min-width: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  margin: 0px;
}
@media screen and ( min-height: 550px ) {
  body {
    overflow-y: visible;
  }
}

input {
  border: none;
  border-bottom: 1px solid gray;
}
label {
  padding-bottom: 10px;
}
.edit-title-header,
.main-title-header {
  padding: 15px 0px 0px 15px;
  text-align: center;
  font-size: 14px;
}
.main-description {
  font-size: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-view-container {
  display: initial;
  max-height: 550px;
}
.edit-view-container {
  display: none;
}
#edit-search,
#edit-domain-path {
  width: 70%
}
#edit-replace {
  width: 100%;
}
.edit-segment {
  display: flex;
  padding-bottom: 15px;
  padding-top: 5px;
}
.edit-segment select {
  width: 25%;
  margin-left: 10px;
}
#edit-main {
  font-size: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
#main {
  padding: 15px 5px 15px 15px;
  margin-bottom: 75px;
}
#main-title {
  display: flex;
}
.site-view-container {
  font-size: 10px;
}
.site-name {
  font-weight: normal;
  cursor: pointer;
}
.site-path {
  color: grey;
  cursor: pointer;
}
.site-path:hover {
  color: green;
}
.site-name:hover {
  color: green;
}
#edit-save-rule {
  /*padding: 15px 0px 15px 0px;*/
  float: right;
}
#edit-cancel {
  float: left;
}
#site-add-rule{
  margin: auto;
  width: 25%;
}
.site-rule-buttons {
  padding-bottom: 20px;
}
.edit-rule-buttons {
  height: 50px;
}
button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  background-color: #2196F3;
  text-align: center;
  text-decoration: none;
}
button:disabled {
  cursor: not-allowed;
  color: white;
  background-color: silver;
}

.site-view-rules {
  padding-top: 15px;
  padding-right: 15px;
}
.site-rule-wrapper {
  box-shadow: 0px 0px 2px 0px #88888888;
  margin-bottom: 15px;
  transition: box-shadow 0.2s;
  padding: 0px;
}
.site-rule-wrapper:hover .site-rule-options {
  opacity: 100;
  visibility: visible;
}
.site-rule-wrapper:hover {
  box-shadow: 0px 0px 5px 0px #88888888;
}
/* Well.
https://stackoverflow.com/questions/18087098/how-to-remove-delay-on-css3-slide-out-transition-which-uses-max-height-transitio
*/
.site-rule-content {
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0,1,0,1);
  transition-delay: 0s;
  background-color: white;
  overflow: hidden;
}
.site-rule-content.active {
  transition: max-height 1s ease-in-out;
  max-height: 2500px;
}

/* ICON ROW */

.site-view-footer {
  box-shadow: 0px 0px 2px 1px #88888888;
  position: fixed;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: white;
  margin: 0px;
  width: 100%;
}

.site-icons {
  display: flex;
  margin-right: 15px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 15px;
}
.site-icon-wrapper {
  height: auto;
}
.site-icon {
  background-color: grey;
  transition: background-color 0.4s;
  cursor: pointer;
  height: 0;
  width: 0;
}
.site-icon:hover {
  background-color: black;
}
.site-icon.trash {
  mask-image: url(../icons/trash-solid.svg);
  mask-repeat: no-repeat;
  padding: 12px;
  margin: 25px;
}
.site-icon.export {
  mask-image: url(../icons/file-export-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 15px 2px 15px;
  padding-top: 11px;
}
.site-icon.import {
  mask-image: url(../icons/file-import-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 15px 2px 15px;
  padding-top: 11px;
}
.site-icon.add {
  mask-image: url(../icons/plus-solid.svg);
  mask-repeat: no-repeat;
  padding: 14px;
  margin: 25px;
}

.site-rule-options {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  float: right;
  font-size: 16px;
  width: 11%;
  text-align: right;
}

/* RULE ACCORDION */
.site-rule-accordion-wrapper {
  display: flex;
  width: 99%;
}
.site-rule-path {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 87%;
  display: flex;
  padding-right: 10px;
}
.site-rule-options .delete {
  background: url(../icons/trash-alt-regular.svg);
  background-repeat: no-repeat;
  height: 0;
  width: 0;
  padding: 10px;
  margin-right: 5px;
  margin-top: 10px;
}
.site-rule-path:before {
  content: "▶";
  float: left;
  padding-right: 10px;
}
.site-rule-wrapper.active .site-rule-path:before {
  content: "▼"; 
}
.site-rule-path-text {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.site-rule-type {
  float: right;
}
.site-rule-open, .site-rule-path:hover {
  /*background-color: #ccc;*/
}


/* TABLE */
.site-rule-table {
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  width: 97%;
}
.site-rule-table-header-row {
  font-size: 10px;
}
.site-rule-table-row {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-rule-table-row.options {
  color: grey;
  font-size: initial;
  max-width: 18%;
  min-width: 18%;
}
.site-rule-table-row.options * {
  cursor: pointer;
  height: 0;
  width: 0;
}
.site-rule-table-row.option.delete {
  background: url(../icons/trash-alt-regular.svg);
  background-repeat: no-repeat;
  padding: 8px 8px 8px 8px;
}
.site-rule-table-row.option.edit {
  background: url(../icons/edit-regular.svg);
  background-repeat: no-repeat;
  padding: 8px 10px 10px 10px;
  margin-right: 5px;
}
.site-rule-table .search,.site-rule-table .replace {
  text-align: left;
  float: left;
  min-width: 41%;
  max-width: 41%;
}


/* TOGGLE */
#main-status {
  margin-left: auto;
  padding: 15px 5px 0px 30px;
}

#main-toggle, #site-toggle {
  display: flex;
  position: relative;
  width: auto;
}
.toggle {
  position: relative;
  margin-left: auto;
  transform: scale(0.6);
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}
.toggle-label input {
  display:none;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle-slider {
  background-color: #2196F3;
}
input:focus + .toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
