body {
  font-family: sans-serif;
  max-width: 350px;
  min-width: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  margin: 0px;
  display:flex;
  flex-direction: column;
}
.body-wrapper {
  opacity: 0;
  transition: all 0.3s;
  position: relative;
}
.body-wrapper.active {
  opacity: 100;
}
.popup-loader-animation-container {
  position: relative;
  left: 150px;
  top: 115px;
  width: 40px;
}
@media screen and ( min-height: 550px ) {
  body {
    overflow-y: visible;
  }
  .site-view-footer {
    box-shadow: 0px 0px 2px 1px #88888888;
  }
}


input {
  border: none;
  border-bottom: 1px solid gray;
}
label {
  padding-bottom: 10px;
}
.edit-title-header,
.main-title-header {
  padding: 15px 0px 0px 15px;
  text-align: center;
  font-size: 14px;
}
.main-description {
  font-size: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-view-container {
  max-height: 550px;
  margin-bottom: 80px;
}
.edit-view-container {
  display: none;
}
#edit-search,
#edit-domain-path {
  width: 70%
}
#edit-replace {
  width: 100%;
}
.edit-segment {
  display: flex;
  padding-bottom: 15px;
  padding-top: 5px;
}
.edit-segment select {
  width: 25%;
  margin-left: 10px;
}
#edit-main {
  font-size: 10px;
  padding-right: 15px;
  padding-left: 15px;
}
#main {
  padding: 15px 5px 15px 15px;
  margin-bottom: 75px;
}
#main-title {
  display: flex;
}
.site-path {
  color: grey;
  cursor: pointer;
}
.site-path:hover {
  color: green;
}
#edit-save-rule {
  float: right;
}
#edit-cancel {
  float: left;
}
#site-add-rule{
  margin: auto;
  width: 25%;
}
.site-rule-buttons {
  padding-bottom: 20px;
}
.edit-rule-buttons {
  height: 50px;
}
button {
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  background-color: #2196F3;
  text-align: center;
  text-decoration: none;
}
button:disabled {
  cursor: not-allowed;
  color: white;
  background-color: silver;
}
.site-rule-wrapper {
  /*box-shadow: 0px 0px 1px 0px #88888888;*/
  transition: all 0.3s;
  padding: 0px;
}
.site-rule-wrapper:hover .site-rule-options {
  opacity: 100;
  visibility: visible;
}
.site-rule-wrapper:hover .site-rule-path {
  width: 80%;
}
.site-rule-wrapper.active {
  box-shadow: 0px 0px 4px 0px #88888888;
  margin-top: 15px;
  margin-bottom: 15px;
}
.site-rule-wrapper:hover {
  box-shadow: 0px 0px 4px 0px #88888888;
}
/* Well.
https://stackoverflow.com/questions/18087098/how-to-remove-delay-on-css3-slide-out-transition-which-uses-max-height-transitio
*/
.site-rule-content {
  max-height: 0;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  transition-delay: 0s;
  background-color: white;
  overflow: hidden;
  border-top: 0px solid lightgray;
}
.site-rule-content.active {
  transition: max-height 1s ease-in-out;
  max-height: 2500px;
  border-top: 1px solid lightgray;
}

/* ICON ROW */

.site-view-footer {
  flex: 1;
  position: fixed;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: white;
  margin: 0px;
  width: 100%;
}

.icons {
  display: flex;
  margin-right: 15px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 15px;
}
.icon-wrapper {
  height: auto;
}
.icon {
  background-color: darkgray;
  transition: background-color 0.5s;
  cursor: pointer;
  height: 0;
  width: 0;
}
.icon:focus,
.icon:hover {
  background-color: black;
}
.icon.trash {
  mask-image: url(../icons/trash-solid.svg);
  mask-repeat: no-repeat;
  padding: 12px;
  margin: 25px;
}
.icon.export {
  mask-image: url(../icons/file-export-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 15px 2px 15px;
  padding-top: 11px;
}
.icon.import {
  mask-image: url(../icons/file-import-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 12px 2px 15px;
  padding-top: 11px;
}
.icon.add {
  mask-image: url(../icons/plus-solid.svg);
  mask-repeat: no-repeat;
  padding: 14px;
  margin: 25px;
}
.icon.cancel {
  mask-image: url(../icons/arrow-left-solid.svg);
  mask-repeat: no-repeat;
  padding: 12px;
  margin: 25px;
}
.icon.search {
  mask-image: url(../icons/search-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 15px 2px 15px;
  padding-top: 11px;
}
.icon.reset {
  mask-image: url(../icons/undo-solid.svg);
  mask-repeat: no-repeat;
  padding: 15px;
  margin: 25px;
  padding: 15px 15px 2px 15px;
  padding-top: 11px;
}
.icon.save {
  mask-image: url(../icons/check-solid.svg);
  mask-repeat: no-repeat;
  padding: 14px;
  margin: 25px;
}

.site-rule-options {
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  float: right;
  font-size: 16px;
  width: 11%;
  text-align: right;
}

/* RULE ACCORDION */
.site-rule-accordion-wrapper {
  display: flex;
}
button::-moz-focus-inner {
  border: 0;
}
.site-rule-path {
  background-color: transparent;
  transition: width 0.2s;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  width: 100%;
  display: flex;
  padding-right: 10px;
}
.site-rule-options .add {
  background-color: darkgray;
  transition: background-color 0.2s;
  mask-image: url(../icons/plus-solid.svg);
  mask-repeat: no-repeat;
  height: 0;
  width: 0;
  position: absolute;
  right: 40px;
  padding: 5px;
  margin-top: 14px;
}
.site-rule-options .add:hover {
  background-color: black;
}
.site-rule-options .delete {
  background-color: darkgray;
  transition: background-color 0.2s;
  mask-image: url(../icons/trash-alt-regular.svg);
  mask-repeat: no-repeat;
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  padding: 7px;
  margin-top: 11px;
}
.site-rule-options .delete:hover {
  background-color: black;
}

.site-rule-path:before {
  mask-image: url(../icons/caret-right-solid.svg);
  mask-repeat: no-repeat;
  transition: all 0.4s;
  content: "";
  width: 10px;
  background-color: darkgray;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 18px;
}
.site-rule-wrapper.active .site-rule-path:before {
  transform: rotate(90deg);
  transform-origin: center center;
  content: "";
}
.site-rule-path-text {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
}

.site-rule-path-text.domain:after {
  content: "/*";
  color: darkgray;
}
.site-rule-path-text.domain:before {
  content: "\00a0 ";
  color: darkgray;
}
.site-rule-path-text.prefix:before {
  content: "\00a0 ";
  color: darkgray;
}
.site-rule-path-text.prefix:after {
  content: ".*";
  color: darkgray;
}
.site-rule-path-text.regex {
  color: cornflowerblue;
}
.site-rule-path-text.regex:before {
  content: "/";
  color: cornflowerblue;
}
.site-rule-path-text.regex:after {
  content: "/";
  color: cornflowerblue;
}
.site-rule-path-text.fixpath:before {
  content: "^";
  color: darkgray;
}
.site-rule-path-text.fixpath:after {
  content: "$";
  color: darkgray;
}

.site-rule-type {
  float: right;
}
.info {
  color:darkgray;
}
.info.empty-list {
  margin: auto;
  width: 50%;
  text-align: center;
}

/* TABLE */
.site-rule-table {
  border-spacing: 0px;
  text-align: center;
  width: 100%;
}
.site-rule-table-cell.search,
.site-rule-table-header.search {
  padding-left: 15px;
}
.site-rule-table-cell.search.regex {
  color: cornflowerblue;
}
.site-rule-table-cell.search.regex:before {
  color: cornflowerblue;
  content: "/";
}
.site-rule-table-cell.search.regex:after {
  content: "/";
  color: cornflowerblue;
}
.site-rule-table-header-row {
  font-size: 10px;
  font-style: italic;
  line-height: 30px;
  text-align: left;
}
.site-rule-table-header-row th{
  font-weight: normal;
  padding-left: 35px;
}
.site-rule-table-row {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
  white-space: normal;
  line-height: 30px;
}
.site-rule-table-row td {
  max-width: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.site-rule-table-row.options {
  color: gainsboro;
  font-size: initial;
  min-width: 16%;
}
.site-rule-table-row.options * {
  background-color: darkgray;
  cursor: pointer;
  height: 0;
  width: 0;
}
.site-rule-table-row.option.delete {
  mask-image: url(../icons/trash-alt-regular.svg);
  transition: all 0.3s;
  mask-repeat: no-repeat;
  padding: 0px 6px 6px 6px;
  margin-left: 6px;
}
.site-rule-table-row {
  transition: all 0.3s;
}
.site-rule-table-row:nth-child(even) {
  background-color: #F5F5F5;
}
.site-rule-table-row:hover,
.site-rule-table-row:hover {
  background-color: gold;
}
.site-rule-table-row:hover .option.delete {
  background-color: darkgray;
}
.site-rule-table-row .option.delete:hover {
  background-color: black;
}
.site-rule-table .search,.site-rule-table .replace {
  font-weight: normal;
  text-align: left;
  padding-left: 35px;
}


/* TOGGLE */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: cadetblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px cadetblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* Extension header */
.extension-header-container {
  background-color: cadetblue;
  height: 50px;
  display: block;
  width: 100%;
}
.extension-header-text {
  color: white;
  width: 65%;
  text-align: center;
  padding-top: 17px;
  padding-left: 10px;
  display: inline-block;
  margin: 0 auto;
}
.extension-header-icon {
  display: none;
  /*background-image: url(../icons/icon96.png);*/
  background-size: cover;
  height: 50px;
  width: 50px;
  display: block;
  position: relative;
  float: left;
}
.extension-header-toggle {
  mask-image: url(../icons/power-off-solid.svg);
  mask-repeat: no-repeat;
  background-color: lightgreen;
  transform: scale(0.5);
  cursor: pointer;
  height: 50px;
  width: 50px;
  float: right;
  text-align: center;
  line-height: 55px;
  font-size: 35px;
  font-weight: bold;
}
.extension-description-container {
  display: none;
  text-align: center;
  height: 36px;
  font-size: 10px;
  color: grey;
}
.extension-description-container .description {
  padding-top: 12px;
  display: block;
  margin: 0 auto;
}

/* Site selector and display */
.site-selector-container {
  box-shadow: 0 1px 7px -4px gray;
  height: 50px;
}
.site-display-container {
  cursor: pointer;
  width: inherit;
  height: inherit;
}
.site-display.site-name {
  line-height: 50px;
  float:left;
}
.site-display.site-name:before {
  mask-image: url(../icons/caret-right-solid.svg);
  mask-repeat: no-repeat;
  background-color: lightgray;
  margin-left: 25px;
  width: 10px;
  content: "";
  padding-left: 25px;
}
.site-options-container {
  width: auto;
  float: right;
  height: 50px;
  margin-top: -50px;
}
.site-options-container.no-top {
  margin-right: 7px;
}
.site-options {
  cursor: pointer;
  background-color: gray;
  height: 50px;
  width: 35px;
  transform: scale(0.5);
  float: right;
  transition: all 0.3s;
  margin-top: 3px;
}
.site-options.add-site-rule {
  mask-image: url(../icons/plus-solid.svg);
  mask-repeat: no-repeat;
  content: "";
  margin-right: 8px;
}
.site-options.delete-all-rules {
  mask-image: url(../icons/trash-alt-regular.svg);
  mask-repeat: no-repeat;
  content: "";
  margin-right: 7px;
}
.site-options.toggle-site-state {
  background-color: inherit;
  padding-right: 22px;
  padding-top: 3px;
}
.site-options.add-site-rule:hover,
.site-options.delete-all-rules:hover {
  background-color: black;
}

.site-dropdown-container {
  display: none;
  width: 100%;
  height: inherit;
  line-height: 50px;
  background-color: white;
}
.site-dropdown-input-line {
  display: none;
  width: inherit;
  height: inherit;
  line-height: 50px;
}
#site-dropdown-input {
  border: none;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  width: 74%;
}
#site-dropdown-input:before {
  mask-image: url(../icons/caret-right-solid.svg);
  mask-repeat: no-repeat;
  background-color: lightgray;
  margin-left: 25px;
  width: 10px;
  content: "";
  padding-left: 25px;
}
.site-dropdown-input-label {
  mask-image: url(../icons/search-solid.svg);
  mask-repeat: no-repeat;
  background-color: lightgray;
  width: 10px;
  padding: 10px;
  margin-right: 9px;
  margin-left: 20px;
  position: relative;
  top: 10px;
}
.site-dropdown.list-item {
  width: 100%;
  line-height: 35px;
  font-size: 11px;
  display: block;
  padding-left: 50px;
}
.site-dropdown.list-item:nth-child(odd):hover,
.site-dropdown.list-item:nth-child(even):hover {
  background-color: gold;
  cursor: pointer;
}
.site-dropdown.list-item:nth-child(odd) {
  background-color: gainsboro;
}
.site-dropdown.list-item:nth-child(even) {
  background-color: white;
}

.site-dropdown-wrapper {
  z-index: 11;
  width: 100%;
  max-height: 2500px;
}
.site-rules-container {
  visibility: visible;
}
